node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
.yarn-integrity
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
dist
build
.vite
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.temp
.rpt2_cache
.rts2_cache
*.tsbuildinfo
.eslintcache
.stylelintcache
*.tgz
*.tar.gz
.git
.gitignore
README.md
.vscode
.idea
!pnpm-lock.yaml